<% layout("/layouts/boilerplate"); %>

<div class="row mt-2">
    <div class="col-8 offset-3">
        <h1>List Details : </h1>
    </div>
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%= list.image %>" alt="..." class="card-img-top show-img">
            <div class="card-body">
                <p class="card-text">
                    <%= list.title %><br/>
                    <%= list.description %><br/>
                     &#8377; <%= list.price.toLocaleString("en-IN") %><br/>
                     <%= list.country %><br/>
                    <%= list.location %>
                </p>
            </div>
        </div>
    </div>
    <div class="btns col-6 offset-3">
        <form action="/listings/<%= list._id %>/edit" method="get" >
            <button type="submit" class="btn btn-dark add-btn w-2">Edit</button>
        </form>
        <form action="/listings/<%= list._id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-dark btn-delete">Delete</button>
        </form>
    </div>
</div>

    